.card {
 width: 100px;
 height: 100px;
 margin: 5px;
 border-radius: 8px;
 background-color: teal;
 overflow: hidden;
 display: flex;
 flex-wrap: wrap;
 padding-top: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.card-image {
  height: 64px;
  width: 100%;
}

.card-image img {
  height: 64px;
  width: 64px;
}

.card-name {
  width: 250px;
  padding: 0 10px;
  font-size: 14px;
  color: #343434;
  font-weight: 700;
  overflow: visible;
  display: flex;
  justify-content: center;
}