.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  overflow-y: auto;
  height: inherit;
  width: 100%;
}

.card-content {
  max-width: 1000px;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  box-sizing: border-box;
  grid-gap: 10px;
  justify-items: center;
}

.register-form {
  height: inherit;
}