nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color:rgb(63, 20, 63);
}

.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}